<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link
    rel="stylesheet"
    href="{{ 'component-loading-overlay.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}

{%- if settings.cart_type == 'drawer' -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<nav
  class="z-10 relative h-[144px] md:h-[176px] bg-inherit 2xl:bg-contain bg-size-100 bg-fixed flex flex-col items-center backdrop-blur-lg w-full leading-none antialiased"
  style="background: url({{ 'header-bg.jpg' | asset_url }}); background-repeat: no-repeat; background-size: cover;"
>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'image_picker' %}
      {{
        block.settings.header_image
        | image_url: width: 230
        | image_tag: class: 'md:max-w-240 hover:scale-125'
        | link_to: block.settings.header_image__link,
        class: 'w-[144px] md:w-[160px] top-[20%] md:top-[12px] absolute flex justify-center'
      }}
      {% when 'link_list' %}
      <!-- Desktop menu -->
      <ul class="hidden md:flex absolute bottom-0 translate-y-1/2 items-center gap-[12px] sm:gap-[48px]" role="list">
        {% for link in block.settings.menu.links %}
          <li class="uppercase" role="listitem">
            {% assign logo_image = '' %}
            {% if link.handle == 'carmella-creeper' %}
              {% assign logo_image = pages[link.handle].metafields.custom.alternate_logo %}
                <a href="/pages/{{ link.handle }}" class="block">
                {{
                  logo_image
                  | image_url: width: 140
                  | image_tag: class: 'hover:scale-125 max-w-[80px] md:max-w-[120px] lg:max-w-[140px] pb-[35px]'
                }}
              </a>
            {% else %}
              {% assign logo_image = pages[link.handle].metafields.custom.logo %}
              <a href="/pages/{{ link.handle }}" class="block">
                {{
                  logo_image
                  | image_url: width: 140
                  | image_tag: class: 'hover:scale-125 max-w-[80px] md:max-w-[120px] lg:max-w-[140px]'
                }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <!-- Mobile menu -->
      <div class="block w-full z-[1] relative">
        <img src="{{ 'hamburger.png' | asset_url }}"
          alt="Menu"
          class="hamburger fixed top-8 right-8"
          width="40"
          height="40" 
          role="button"
          tabindex="0"
          aria-expanded="false"
          loading="eager">
          <div class="hidden mobile-menu bg-gradient-to-b from-purple to-black flex flex-col min-h-screen">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'image_picker' %}
                <div class="flex justify-center">
                  {{
                    block.settings.header_image
                    | image_url: width: 230
                    | image_tag: class: 'md:max-w-240 hover:scale-125'
                    | link_to: block.settings.header_image__link,
                    class: 'w-[144px] md:w-[160px] top-[29px] md:top-[12px] absolute flex justify-center'
                  }}
                </div>
                {% endcase %}
              {% endfor %}
            <ul class="flex flex-col gap-2 mt-32 mx-auto" role="list">
              {% for link in block.settings.menu.links %}
                <li class="uppercase font-coop text-white text-center" role="listitem">
                  <a class="text-4xl" href="/pages/{{ link.handle }}">
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
      </div>
    {% endcase %}
  {% endfor %}
</nav>

<script type="text/javascript" async>
  const hamburger = document.querySelector('.hamburger');
  const mobileMenu = document.querySelector('.mobile-menu');
  
  hamburger.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
    hamburger.setAttribute(
      'aria-expanded', 
      hamburger.getAttribute('aria-expanded') !== 'true'
    );
  });
  
  // ADA-compliance 
  const lastLi = mobileMenu.querySelector('li:last-child > a'); 
  
  hamburger.addEventListener('keypress', (e) => {
    if (e.key === 'Enter') {
      e.preventDefault();
      hamburger.click();
    }
  });
  
  lastLi.addEventListener('keydown', (e) => {
    if (e.key === 'Tab' && !e.shiftKey) {
      e.preventDefault();
      hamburger.focus();
    }
  });
  
  hamburger.addEventListener('keydown', (e) => {
    if (e.key === 'Tab' && e.shiftKey && !mobileMenu.classList.contains('hidden')) {
      e.preventDefault();
      lastLi.focus();
    }
  });  
</script>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "blocks": [
    {
      "type": "link_list",
      "name": "Footer menu",
      "settings": [
        {
          "id": "menu",
          "type": "link_list",
          "label": "Footer link"
        }
      ]
    },
    {
      "type": "image_picker",
      "name": "Header Image",
      "settings": [
        {
          "id": "header_image",
          "type": "image_picker",
          "label": "Image",
          "info": "Select an image for the header"
        },
        {
          "id": "header_image__link",
          "type": "url",
          "label": "Image link",
          "info": "Link for header image: (default home)",
          "default": "/"
        }
      ]
    }
  ]
}
{% endschema %}
