{% liquid
  assign monster_urls = "carmella-creeper franken-berry boo-berry count-chocula" | split: ' '
%}

<h3 class="font-coop text-[36px] md:text-[52px] leading-none text-center py-10" style="color: {{ section.settings.text_color }}">{{ section.settings.heading }}</h3>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 justify-center items-stretch w-full h-full">
  {%- for monster_url in monster_urls -%}
    {% capture cardStyle %}
      {% if monster_url == 'boo-berry' %}
        relative flex flex-col justify-between items-center h-full bg-gradient-to-br from-blue to-black
      {% elsif monster_url == 'count-chocula' %}
        relative flex flex-col justify-between items-center h-full bg-gradient-to-br from-brown to-black
      {% elsif monster_url == 'carmella-creeper' %}
        relative flex flex-col justify-between items-center h-full bg-gradient-to-br from-green to-black
      {% elsif monster_url == 'franken-berry' %}
        relative flex flex-col justify-between items-center h-full bg-gradient-to-br from-pink to-black
      {% endif %}
    {% endcapture %}

    {% capture linkStyle %}
      {% if monster_url == 'boo-berry' %}
        bg-blue hover:bg-blue-light 
      {% elsif monster_url == 'count-chocula' %}
        bg-brown hover:bg-brown-light 
      {% elsif monster_url == 'carmella-creeper' %}
        bg-green hover:bg-green-light 
      {% elsif monster_url == 'franken-berry' %}
        bg-pink hover:bg-pink-light 
      {% endif %}
      font-helvetica inline-block text-white font-bold text-center w-[208px] xl:w-[288px] py-[8px] rounded-full
    {% endcapture %}

    <div class="{{ cardStyle }}">
      {% if monster_url == 'carmella-creeper' %}
        {% comment %}theme-check-disable ImgWidthAndHeight{% endcomment %}
        <img
          class="w-4/5 absolute top-0 left-0 -translate-y-1/2"
          src="{{ 'home-grid-introducing-sticker.png' | file_url }}"
          loading="lazy"
        >
        {% comment %}theme-check-enable ImgWidthAndHeight{% endcomment %}
      {% endif %}
      <div class="relative w-4/5 mx-auto">
        {{
          pages[monster_url].metafields.custom.logo
          | image_url: width: 800
          | image_tag:
            loading: 'lazy',
            class: 'max-w-[200px] mx-auto pb-5 pt-10 h-[176px]',
            alt: product.metafields.custom.package.alt
        }}
        {{
          pages[monster_url].metafields.custom.package
          | image_url: width: 800
          | image_tag: loading: 'lazy', class: 'mx-auto', alt: product.metafields.custom.package.alt
        }}
      </div>
      <div class="pt-[16px] pb-[32px]">
        <a
          role="link"
          href="{{ pages[monster_url].url }}"
          class="{{ linkStyle }}"
        >
          MEET {{ pages[monster_url].title | upcase }}
        </a>
      </div>
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Home Grid",
  "tag": "section",
  "class": "section bg-black",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "MEET THE MONSTERS",
      "label": "t:sections.image-banner.blocks.heading.settings.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#fff",
      "label": "Text Color"
    }
  ],
  "blocks": [

  ],
  "presets": [

  ]
}
{% endschema %}
