{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{% if section.settings.image_zoom == 'hover' %}
  <script id="EnableZoomOnHover-main" src="{{ 'magnify.js' | asset_url }}" defer="defer"></script>
{% endif %}

<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>

{% stylesheet %}
  .product-description p {
    padding: 0.5rem 0;
  }
{% endstylesheet %}

<section
  id="MainProduct-{{ section.id }}"
  class="text-white main-product"
  data-section="{{ section.id }}"
>
  <product-info
    id="ProductInfo-{{ section.id }}"
    data-url="{{ product.url }}"
  >
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'text' -%}
          <p {{ block.shopify_attributes }}>
            {{- block.settings.text }}
          </p>
        {%- when 'title' -%}
          <div {{ block.shopify_attributes }}>
            <h1>{{ product.title | escape }}</h1>
          </div>
        {%- when 'price' -%}
          <div role="status" {{ block.shopify_attributes }}>
            {% render 'price',
              product: product,
              use_variant: true,
              show_badges: true
            %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
    {% comment %} <div class="mt-5 grid grid-cols-1 md:grid-cols-2">
      <div class="w-4/5 mx-auto">
        {{ product | image_url: width: 500 | image_tag }}
      </div>
      <div class="product-description text-white w-4/5 sm:w-11/12 mx-auto">
        <h1 class="uppercase text-white text-center font-coop py-8">{{ product.title }}</h1>
        <p>{{ product.price | money_with_currency }}</p>
        {{ product.description }}
      </div>
    </div> {% endcomment %}
  </product-info>
</section>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "Product Text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Enter Product Text"
        }
      ]
    },
    {
      "type": "title",
      "name": "Product Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Product Price",
      "limit": 1
    }
  ],
  "settings": [

  ]
}
{% endschema %}
