{% liquid
  assign background_color = product.metafields.custom.background_color.value
  assign cereal_collection = collections.cereal.products

  for i in (0..cereal_collection.size)
    if cereal_collection[i].handle == product.handle
      assign previous_index = forloop.index0 | minus: 1
      assign previous_cereal = cereal_collection[previous_index].url
      assign next_index = forloop.index0 | plus: 1
      if forloop.index == cereal_collection.size
        assign next_cereal = cereal_collection[0].url
      else
        assign next_cereal = cereal_collection[next_index].url
      endif
    endif
  endfor
%}

{% stylesheet %}
  .product-description p {
    padding: 0.5rem 0;
  }
{% endstylesheet %}

<section
  id="MainProduct-{{ section.id }}"
  class="text-white pb-20 main-product"
  data-section="{{ section.id }}"
  style="background: linear-gradient(to bottom, {{ background_color[0] }}, {{ background_color[1] }});"
>
  <div class="flex flex-row flex-nowrap items-center justify-between gap-5 max-w-1000 my-0 mx-auto px-10">
    {% render 'arrow-left', previous_cereal: previous_cereal %}
    <h1 class="uppercase text-white text-center font-coop text-5xl md:text-7xl py-16">Meet {{ product.title }}</h1>
    {% render 'arrow-right', next_cereal: next_cereal %}
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="w-4/5 mx-auto">
      {{ product | image_url: width: 500 | image_tag }}
    </div>
    <div class="product-description text-white w-4/5 sm:w-11/12 mx-auto">
      <h2 class="uppercase text-white font-coop text-6xl">Who is {{ product.title }}?</h2>
      {{ product.description }}
      {% if section.settings.secondary_productImage %}
        <aside>{{ section.settings.secondary_productImage | image_url: width: 650 | image_tag }}</aside>
      {% endif %}
      {% if section.settings.footer_image %}
        {{ section.settings.footer_image | image_url: width: 1400 | image_tag }}
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [],
  "settings": [
    {
      "type": "image_picker",
      "id": "secondary_productImage",
      "label": "Secondary Product image"
    },
    {
      "type": "image_picker",
      "id": "footer_image",
      "label": "Footer Product Image"
    }
  ]
}
{% endschema %}
