<section
  id="MainProduct-{{ section.id }}"
  class="page-width section-{{ section.id }}-padding text-white"
  data-section="{{ section.id }}"
>
  <h1 class="font-coop text-white uppercase text-center">Meet {{ product.title }}</h1>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="">
      {{ product | image_url: width: 500 | image_tag }}
    </div>
    <div class="w-1/3">
      <h2 class="uppercase text-white font-coop text-4xl">Who is {{ product.title }}?</h2>
      {{ product.description }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [],
  "settings": []
}
{% endschema %}
