<section
  id='MainProduct-{{ section.id }}'
  class='page-width section-{{ section.id }}-padding'
  data-section='{{ section.id }}'
>
  <div class='grid grid-cols-1 md:grid-cols-2'>
    <div class='w-4/5 mx-auto'>
      {{ product | image_url: width: 800 | image_tag }}
    </div>
    <div class='text-white w-4/5 sm:w-11/12 mx-auto'>
      <h1>Who is {{ product.title }}?</h1>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [

  ],
  "settings": [

  ]
}
{% endschema %}
