{% if section.settings.enabled %}
  <div class="mt-12 uppercase text-center flex flex-col font-coop py-8 bg-purple">
    <p class="text-white text-8xl">Listen to the Monster Mash Remix</p>
    <button id="playBtn" class="justify-center flex items-center pt-10" data-playing="false" role="switch" aria-checked="false">
      <img id="visualizer_btn" src="{{ 'play.png' | asset_img_url }}" alt="Toggle play and pause" width="75" height="75" loading="lazy">
      <span class="text-white text-5xl pl-10">MONSTER MASH REMIX</span>
    </button>
    <div class="mt-10 flex items-center flex-col">
      <div class="w-full md:max-w-[500px]" id="waveform"></div>
    </div>
  </div>
{% endif %}

<script src="{{ 'wavesurfer.js' | asset_url }}" defer></script>

<script type="text/javascript" defer>
  document.addEventListener("DOMContentLoaded", function() {
    const playBtn = document.querySelector('#playBtn');
    const playBtnImg = document.querySelector('#playBtn img');
    const waveformCanvas = document.querySelector('#waveform');
    const wavesurfer = WaveSurfer.create({
      container: waveformCanvas,
      height: 100,
      barWidth: 3,
      sampleRate: 3000,
      barHeight: 0.8,
      normalize: true, 
      waveColor: '#fff',
      progressColor: '#D3D3D3',
      responsive: true,
      url: '{{ "monster-mash-remix.wav" | asset_url }}'
    });

    playBtn.addEventListener("click", function() {
      if (!wavesurfer.isPlaying()) {
        wavesurfer.play();
        playBtnImg.src = "{{ 'pause.png' | asset_img_url }}"
      } else {
        wavesurfer.pause();
        playBtnImg.src = "{{ 'play.png' | asset_img_url }}" 
      }
    });
  });
</script>

{% schema %}
{
  "name": "Music Visualizer",
  "tag": "section",
  "class": "section bg-black",
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Enable Visualizer"
    }
  ]
}
{% endschema %}
